/* SCHEDULE CONTAINER */

#schedule-container {
  margin-left: 125px;
}

/* TIME TABLE */

#time-table {
  float: left;
  margin-right: 10px;
  color: #e0e0e0;
}

#time-table {
  margin-top: -10px;
}

.time, .hour {
  padding-bottom: 0.75em;
  padding-left: 40px;
  text-align: right;
}

 .hour {
  color: #908881;
  font-weight: 500;
} 

/* EVENTS */

/* Events Container */
#events-container {
  height: 720px;
  width: 620px;
  box-sizing: border-box;
  padding: 0px 10px;
  background-color: #e0e0e0;
  margin: 0 auto;
  position: absolute;
  float: left;
  display: inline-block;
}

/* Event Item */
.event-item {
  position: absolute;
  width: 600px;
  float: left;
  background-color: #fff;
  border-left: 5px solid #305cA6;
  padding: 10px;
  border: 1px solid #e0e0e0;
}

/* OVERLAY */
.modal-content {
  width: 460px;
  padding: 30px;
}

/* ADD EVENT FORM */
#add-event-form-error {
  color: #d61d5a;
  font-weight: 500;
  text-align: center;
}

#event-form-name-input-container,
#event-form-time-input-container {
  text-align: center;
}

#event-form-time-input-container {
  padding: 20px 0 20px 0;
}

#event-form-button-container {
  text-align: right;
  margin-right: 25px;
}